<!DOCTYPE html>

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{request.static_url('StreamProject:static/main.js')}}"></script>
</head>
<body>

<div class="content">

</div>


</body>

</html>